<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #D32F2F"
>
  <a class="navbar-brand" href="#">Algorithm Visualizer</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a
          class="nav-link"
          [routerLink]="['/sortingVisualizer']"
          (click)="activateButtons()"
          >Sorting Visualizer
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a
          class="nav-link"
          [routerLink]="['/searchingVisualizer']"
          (click)="activateButtons()"
          >Searching Visualizer</a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a
          class="nav-link"
          [routerLink]="['/basicAlgorithmVisualizer']"
          (click)="activateButtons()"
          >Basic algorithms Visualizer</a
        >
      </li>
    </div>
    <div class="navbar-nav ml-auto" *ngIf="router.url === '/sortingVisualizer'">
      <button
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onClick('newArray')"
        [disabled]="disableNewArray"
        style="color: white; background-color: #c62828;"
      >
        New Array
      </button>
      <button
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onClick('mergeSort')"
        [disabled]="disableButtons"
        style="color: white; background-color: #c62828;"
      >
        Merge Sort
      </button>
      <button
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onClick('quickSort')"
        [disabled]="disableButtons"
        style="color: white; background-color: #c62828;"
      >
        Quick Sort
      </button>
      <button
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onClick('heapSort')"
        [disabled]="disableButtons"
        style="color: white; background-color: #c62828;"
      >
        Heap Sort
      </button>
      <button
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onClick('bubbleSort')"
        [disabled]="disableButtons"
        style="color: white; background-color: #c62828;"
      >
        Bubble Sort
      </button>
      <button
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onClick('insertionSort')"
        [disabled]="disableButtons"
        style="color: white; background-color: #c62828;"
      >
        Insertion Sort
      </button>
      <button
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onClick('selectionSort')"
        [disabled]="disableButtons"
        style="color: white; background-color: #c62828;"
      >
        Selection Sort
      </button>
    </div>
    <div
      class="navbar-nav ml-auto"
      *ngIf="router.url === '/searchingVisualizer'"
    >
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="number"
          placeholder="Search"
          aria-label="Search"
          #searchValue
        />
      </form>
      <button
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onSearch('newArray', searchValue)"
        [disabled]="disableNewArray"
        style="color: white; background-color: #c62828;"
      >
        New Array
      </button>
      <button
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onSearch('linearSearch', searchValue)"
        [disabled]="disableButtons"
        style="color: white; background-color: #c62828;"
      >
        Linear search
      </button>
      <button
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onSearch('binarySearch', searchValue)"
        [disabled]="disableButtons"
        style="color: white; background-color: #c62828;"
      >
        Binary search
      </button>
      <button
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onSearch('jumpSearch', searchValue)"
        [disabled]="disableButtons"
        style="color: white; background-color: #c62828;"
      >
        Jump search
      </button>
      <button
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onSearch('interpolationSearch', searchValue)"
        [disabled]="disableButtons"
        style="color: white; background-color: #c62828;"
      >
        Interpolation search
      </button>
      <button
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onSearch('exponentialSearch', searchValue)"
        [disabled]="disableButtons"
        style="color: white; background-color: #c62828;"
      >
        Exponential search
      </button>
      <button
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onSearch('fibonacciSearch', searchValue)"
        [disabled]="disableButtons"
        style="color: white; background-color: #c62828;"
      >
        Fibonacci search
      </button>
    </div>
  </div>
  <div
    class="navbar-nav ml-auto"
    *ngIf="router.url.includes('/basicAlgorithmVisualizer')"
  >
    <div class="navbar-nav mr-5">
      <form
        class="form-inline my-2 my-lg-0"
        *ngIf="router.url.includes('/caesars')"
      >
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="String to encode"
          aria-label="Search"
          name="textValue"
          [(ngModel)]="textValue"
          (ngModelChange)="onInputChange()"
        />
        <input
          class="form-control mr-sm-2"
          type="number"
          placeholder="Shift Value"
          aria-label="Search"
          name="shiftValue"
          [(ngModel)]="shiftValue"
          (ngModelChange)="onInputChange()"
        />
      </form>
      <button
        *ngIf="router.url.includes('/basicAlgorithmVisualizer/')"
        class="nav-item nav-link btn btn-header mr-3"
        (click)="onBasicStart()"
        [disabled]="disableButtons"
        style="color: white; background-color: #c62828;"
      >
        Start Animation
      </button>
    </div>
    <button
      [routerLink]="['/basicAlgorithmVisualizer/caesars']"
      class="nav-item nav-link btn btn-header mr-3"
      [disabled]="disableButtons"
      style="color: white; background-color: #c62828;"
    >
      Caesar's Cipher
    </button>
    <button
      [routerLink]="['/basicAlgorithmVisualizer/FisherYates']"
      class="nav-item nav-link btn btn-header mr-3"
      [disabled]="disableButtons"
      style="color: white; background-color: #c62828;"
    >
      Fisher–Yates shuffle
    </button>
    <button
      [routerLink]="['/basicAlgorithmVisualizer/gameOfLife']"
      class="nav-item nav-link btn btn-header mr-3"
      [disabled]="disableButtons"
      style="color: white; background-color: #c62828;"
    >
      Game of Life
    </button>
  </div>
</nav>
