.containe {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-height: 80vh;
  max-height: 80vh;
}

.array-bar {
  margin: 0 1px;
}

.btn-information {
  position: fixed;
  top: 90%;
  left: 92%;
  color: white;
  background-color: #c62828 !important;
}

.btn-information:hover {
  transform: scale(1.1);
  background-color: #f44336 !important;
}

.btn-information:active {
  transform: scale(1);
  background-color: #c62828 !important;
}
