.container {
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1100px;
}

.array-item {
  height: 100px;
  width: 100px;
  border: 1px solid #1976d2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1976d2;
  font-weight: bolder;
  font-size: 25px;
}

.btn-information {
  position: fixed;
  top: 90%;
  left: 92%;
  color: white;
  background-color: #c62828 !important;
}

.btn-information:hover {
  transform: scale(1.1);
  background-color: #f44336 !important;
}

.btn-information:active {
  transform: scale(1);
  background-color: #c62828 !important;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
